@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class ="display-2">Welcome to our Hospital</h1>
    <br />
    <h5 class ="display-9">Thank you for choosing our hospital for your healthcare needs</h5>
    <br />
    <h6 class ="display-9">Here, we strive to provide the highest quality medical care to our patients.</h6>
    <br />
    
    <h6 class ="display-9">Learn more about our services and specialties:</h6>
    <br />

    <table class="table table-bordered">
        <tr>
            <td colspan="2"><h6>Intrenal Medicine</h6></td>
        </tr>
        <tr>
            <td colspan="2"><h6>Pediatrics</h6></td>
        </tr>
        <tr>
            <td colspan="2"><h6>Surgery</h6></td>
        </tr>
    </table>
    <h6 class="display-9">If You have anu questions or need assistance,please don`t hesitate to contact us</h6>

</div>
